<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PublicReportServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PublicReportServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://eglj-test.fa.us2.oraclecloud.com/xmlpserver/services/PublicReportService"
                binding="basicHttpBinding" bindingConfiguration="PublicReportServiceSoapBinding"
                contract="ServiceOracleCloud.PublicReportService" name="PublicReportService" />
        </client>
    </system.serviceModel>
</configuration>